///// ------------------- ///
//// ----- Imports ----- ////
/// ------------------- /////

@use '../config/mixins';
@use '../config/variables';
@use '../config/rem';

.chart-bar-route {
  
  .chart-bar-route-container {
    padding: rem.rem(25px) rem.rem(10px) rem.rem(0px);
  }
  
}

.chart-bar-stop {
  
  .chart-bar-stop-container {
    padding: rem.rem(25px) rem.rem(10px) rem.rem(0px);
  }
  
}

.chart-map {
  
  .shiny-spinner-output-container {
    height: 100%;
  } 
  
  @include mixins.mediaFrom(variables.$breakLg) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  
  min-height: 500px;
  
  #app-mbta_map-mbta_leaflet_map {
    height: 100% !important;
  }
}
