///// ------------------- ///
//// ----- Imports ----- ////
/// ------------------- /////

@use '../config/mixins';
@use '../config/variables';
@use '../config/rem';
@use 'dropdowns';

.dashboard-filters {
  width: 100%;

  @include mixins.mediaFrom(variables.$breakMd) {
    max-width: 250px;
  }

  .form-group {
    @include dropdowns.dropdown;
    @include dropdowns.dropdownFilters;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    @include mixins.mediaFrom(variables.$breakLg) {
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
    }

    label {
      font-weight: 500;
      margin-bottom: rem.rem(5px);
      white-space: nowrap;
  
      @include mixins.mediaFrom(variables.$breakLg) {
        margin-bottom: 0;
        margin-right: variables.$spacingSm;
      }
    }

    & > div {
      width: 100%;
    }
  }
}
