///// ------------------- ///
//// ----- Imports ----- ////
/// ------------------- /////

@use '../config/variables';

html {
  font-size: 100%;
}

body {
  font-family: variables.$fontPrimary !important;
  color: variables.$colorFont;
}

h1, 
h2, 
h3,
h4,
h5,
h6,
p {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
}

a:hover {
  text-decoration: none;
}
