///// ------------------- ///
//// ----- Imports ----- ////
/// ------------------- /////

@use '../abstracts/colors';

///// ------------------ ///
//// ----- Mixins ----- ////
/// ------------------ /////

// --- Function for Media Queries --- //
// This function was created by Appsilon for the Enterprise dashboard (https://connect.appsilon.com/shiny-enterprise-demo/)
@mixin mediaFrom($breakpoint) {
  @if $breakpoint {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

// --- Card Component Styles --- //
@mixin card-shadow {
  box-shadow: 
    0 4px 4px 0 colors.$black
}

@mixin card {
  border-radius: 5px;
  margin: 1em 1em;
  padding: 1em;
}
